body {
    font-family: "Theinhardt_BONG", Arial;
    font-size: 18px;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.theinhardt {
    font-family: "Theinhardt_BONG", Arial;
}

.text-medium {
    font-size: 1.25em;
    line-height:1.3;
}

.text-large {
    font-size: 2.5em;
    line-height:1.3;
}

.text-xlarge {
    font-size: 3.25em;
    line-height:1.3;
}

.bold {
    font-weight: bold;
}

.text-right {
    text-align: right;
}

.underline {
    border-bottom: 1px solid black;
}